.flota {
  display: flex;
  flex-direction: column; /* Coloca el título arriba y el contenido abajo */
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(170, 175, 179);
  font-family: "Poppins", Sans-serif;
}

.flota h1 {
  text-align: center;
  color: white;
  padding: 10px;
  margin: 0;
}

/* Contenedor para las imágenes */
.imagenes {
  display: flex;
  justify-content: space-around; /* Espacio entre imágenes */
  width: 90%;
  border-radius: 20px;
}

.furgon {
  width: 32%;
  text-align: center; /* Centra el texto debajo de cada imagen */
}

.furgon img {
  width: 40%;
  height: auto;
  border-radius: 20px;
}
.section {
  display: flex;
}
.section img {
  justify-content: space-around; /* Espacio entre imágenes */
  height: auto;
  border-radius: 20px;
  width: 32%;
  text-align: center; /* Centra el texto debajo de cada imagen */
}

.flota {
  text-align: center;
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.furgon {
  cursor: pointer;
  transition: transform 0.3s;
}

.furgon:hover {
  transform: scale(1.05);
}

.detalle {
  text-align: center;
}
.cardImage {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
}

.modalImage {
  width: 70%;
  border-radius: 8px;
  max-height: 670px;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color:white;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.carouselButton:hover {
  background-color:white;
}

.carouselButton.left {
  left: 10px;
}

.carouselButton.right {
  right: 10px;
}

.carouselButton i {
  font-size: 20px; /* Ajusta el tamaño del icono */
  color: black; /* Asegura que se vea bien */
}

 
/* Nueva clase para el hover */
.furgon {
  width: 100%;
  text-align: center;
  position: relative; /* Necesario para posicionar el "Ver más" */
  cursor: pointer;
  transition: transform 0.3s;
}
.furgon img {
  width: 50%;
  height: auto;
  border-radius: 20px;
  object-fit: cover; 
}
.furgon:hover {
  transform: scale(1.0);
}

.furgon:hover .overlay {
  opacity: 1; /* Aparece el texto "Ver más" */
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  opacity: 0; /* Inicia oculto */
  transition: opacity 0.3s ease;
  pointer-events: none; /* Evita que el hover interfiera con la interacción */
}

.overlay span {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo para el texto */
  padding: 10px 20px;
  border-radius: 5px;
}



@media screen and (max-width: 768px) {
  .flota {
    display: flex;
    flex-direction: column; /* Coloca el título arriba y el contenido abajo */
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(170, 175, 179);
    font-family: "Poppins", Sans-serif;
  }
  
  .flota h1 {
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0;
  }
  
  /* Contenedor para las imágenes */
  .imagenes {
    display: flex;
    justify-content: space-around; /* Espacio entre imágenes */
    width: 90%;
    border-radius: 20px;
  }
  
  .furgon {
    width: 32%;
    text-align: center; /* Centra el texto debajo de cada imagen */
  }
  
  .furgon img {
    width: 40%;
    height: auto;
    border-radius: 20px;
  }
  .section {
    display: flex;
  }
  .section img {
    justify-content: space-around; /* Espacio entre imágenes */
    height: auto;
    border-radius: 20px;
    width: 32%;
    text-align: center; /* Centra el texto debajo de cada imagen */
  }
  
  .flota {
    text-align: center;
  }
  
  .imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 50%;
  }
  
  .furgon {
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .furgon:hover {
    transform: scale(1.05);
  }
  
  .detalle {
    text-align: center;
  }
  .cardImage {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.2s ease-in-out;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
  }
  
  .modalImage {
    width: 70%;
    border-radius: 8px;
    max-height: 670px;
  }
  
  .carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    border-radius: 50%;

  }
  
  .carouselButton:hover {
    background-color:white;
  }
  
  .carouselButton.left {
    left: 8px; /* Menos separación en móviles */
  }

  .carouselButton.right {
    right: 8px; /* Menos separación en móviles */
  }
  .carouselButton i {
    font-size: 20px; /* Ajusta el tamaño del icono */
    color: black; /* Asegura que se vea bien */
  }
  
  .modalContainer {
    overflow: visible !important;
  }
  
   
  /* Nueva clase para el hover */
  .furgon {
    width: 100%;
    text-align: center;
    position: relative; /* Necesario para posicionar el "Ver más" */
    cursor: pointer;
    transition: transform 0.3s;
  }
  .furgon img {
    width: 50%;
    height: auto;
    border-radius: 20px;
    object-fit: cover; 
  }
  .furgon:hover {
    transform: scale(1.0);
  }
  
  .furgon:hover .overlay {
    opacity: 1; /* Aparece el texto "Ver más" */
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 1; /* Inicia oculto */
    transition: opacity 0.3s ease;
    pointer-events: none; /* Evita que el hover interfiera con la interacción */
  }
  
  .overlay span {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo para el texto */
    padding: 10px 20px;
    border-radius: 5px;
  }
}


@media (min-width: 600px) and (max-width: 1024px) {
  .flota {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(170, 175, 179);
    font-family: "Poppins", Sans-serif;
  }

  .flota h1 {
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0;
  }

  /* Contenedor para las imágenes */
  .imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    border-radius: 20px;
  }

 

  .furgon {
    width: 100%;
    text-align: center;
    position: relative; /* Necesario para posicionar el "Ver más" */
    cursor: pointer;
    transition: transform 0.3s;
  }
  .furgon images {
    width: 50%;
    height: auto;
    border-radius: 20px;
    object-fit: cover; 
  }
  .furgon:hover {
    transform: scale(1.0);
  }
  
  .furgon:hover .overlay {
    opacity: 1; /* Aparece el texto "Ver más" */
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 1; /* Inicia oculto */
    transition: opacity 0.3s ease;
    pointer-events: none; /* Evita que el hover interfiera con la interacción */
  }
  
  .overlay span {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo para el texto */
    padding: 10px 20px;
    border-radius: 5px;
  }
  

  

 

  
}


